<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_PATH" value="logs"/>
    <property name="BACKUP_PATH" value="backup"/>
    <property name="INFO_LOG_FILE_NAME" value="info"/>
    <property name="ERROR_LOG_FILE_NAME" value="error"/>
    <property name="LOG_PATTERN" value="%-5level %d{yy-MM-dd HH:mm:ss} [%logger{0}:%line] - %msg%n"/>

    <springProfile name="local,test">
        <include resource="log-appender/console-appender.xml"/>
        <logger name="com.gistpetition.api" level="INFO" additivity="false">
            <appender-ref ref="CONSOLE"/>
        </logger>
        <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE" additivity="false">
            <appender-ref ref="CONSOLE"/>
        </logger>
        <root level="WARN">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="dev,prod">
        <include resource="log-appender/file-info-appender.xml"/>
        <include resource="log-appender/file-error-appender.xml"/>
        <root level="INFO">
            <appender-ref ref="FILE-INFO"/>
            <appender-ref ref="FILE-ERROR"/>
        </root>
    </springProfile>
</configuration>
